ul.nav.navbar-nav(ng-controller="navigationController")
    li
        a(href="#") Standings
    li(ng-show="identity.isAuthenticated()")
        a(href="/picks") Picks
div(ng-include="'/partials/navbar-login'")