div(ng-controller='picksController')
    .page-header
        h1 Picks
    div.centerLoad
        i.fa.fa-cog.fa-spin.fa-5x(ng-hide="true")
    select.form-control(ng-cloak ng-model="selectedWeek", ng-change="getWeek(selectedWeek)", ng-options="week.week for week in weeks")
        option(value="") Select Week
    div.picks(ng-show="picks != null")
        div(ng-repeat="game in picks")
            hr.divider
            .panel.panel-primary
                .panel-heading
                    .row.pickHeader
                        .col-xs-6
                            h5
                            | <span class="label label-default">{{getGameStatus(game.status)}}</span>
                            | {{teamsMap[game.teams[0]].city + " " + teamsMap[game.teams[0]].name}} <span class="badge">{{getPoints(game.scores[0])}}</span>
                            | vs
                            | {{teamsMap[game.teams[1]].city + " " + teamsMap[game.teams[1]].name}} <span class="badge">{{getPoints(game.scores[1])}}</span>
                        .col-xs-6
                            h5.pull-right(ng-hide="game.status=='closed'", ng-bind='formattedDate(game.scheduled)')
                    .row
                        .col-xs-8
                            select.form-control(ng-model="game.pick" ng-options="teamsMap[value].name for value in game.teams", ng-disabled="disablePick(game.status)")
                        .col-xs-4
                            select.form-control(ng-model="game.points" ng-options="point for point in getAvailablePoints(game)", ng-disabled="disablePick(game.status)")
                                option(value="0") Points
                .panel-body
                    .col-sm-6.col-md-3
                        h5 <strong>Stadium:</strong> {{game.stadium}}
                    .col-sm-6.col-md-3
                        h5 <strong>Turf:</strong> {{game.field}}
                    .col-sm-6.col-md-3
                        h5 <strong>City:</strong> {{game.city}}, {{game.state}}
                    .col-sm-6.col-md-3
                        h5 <strong>Stadium Type:</strong> {{game.type}}
        button.btn.btn-primary.submitButton(ng-show="picks != null && selectedWeek.completed != true", ng-click="updatePicks()") Submit
