div(ng-controller='standingsController')
    .page-header
        h1 Standings
    .list-group(ng-repeat="standing in standings | orderBy:'score':true" ng-init='count=1')
        .list-group-item
            img.pull-left(src="http://placehold.it/100x100" style="padding-right: 10px")
            h2.list-group-item-heading
                i.fa.fa-trophy(ng-show="$index==0", style='color:#FFD700')
                i.fa.fa-trophy(ng-show="$index==1", style='color:#CCCCCC')
                i.fa.fa-trophy(ng-show="$index==2", style='color:#cd7f32')
                i.fa.fa-trophy(ng-show="$index>2")
                | &nbsp; # {{$index+1}}
                i.fa.fa-check.pull-right(style='color:green')
                .pull-right {{standing.score}}
            h4 <strong>{{standing.username}}</strong> - <small>{{standing.firstName}} {{standing.lastName}}</small>
            .progress
                .progress-bar(role="progressbar" aria-valuenow="{{(standing.correct/standing.total)*100}}" aria-valuemin="0" aria-valuemax="100" style="width: {{(standing.correct/standing.total)*100}}%;") <strong>{{(standing.correct/standing.total)*100}}% Correct</strong>
